

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.menu{

  box-sizing: border-box;
    width: 600px;
    height: 500px;
    padding: 40px 80px;
    margin: 0 auto 70px;
    /* background-image: url("logo1.png"); */
    background-color: #b41d1d;
    border-radius: 10px;
    font-size:1rem;
      margin: auto;
      color: rgb(255, 255, 255);
    /* filter: blur(10px);
    -webkit-filter: blur(.5px); */
  
  }


  .menu1{

    box-sizing: border-box;
      width: 400px;
      height: 500px;
      padding: 80px 110px;
      margin: 0 auto 70px;
      /* background-image: url("logo1.png"); */
      border-radius: 10px;
        margin: auto;
        color: rgb(255, 255, 255);
      /* filter: blur(10px);
      -webkit-filter: blur(.5px); */
    
    }


  .input{
    font-family:Montserrat, sans-serif;
    justify-content: center;
    align-items: center;
    margin: right;
    box-shadow: 30 4px 20px rgb(237, 16, 16);
    font-size:1rem;

  
  }
  
  .playnow{
    color: rgb(255, 255, 255);
    font-size:1rem;
    padding: 80px 80px;
  }


  
  /* .inputbar{
    font-family:Montserrat, sans-serif;
    justify-content: center;
    align-items: center;
    margin: center;
  
    font-size:1rem;
    width: 240px;
    
  
  } */
  


/* 
.h1{
  font-family:Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
  height: 100vh;
  background-color:gray;
  color: gray;
  box-shadow: 0 4px 0px #333;
}

.h1{
  font-size: 6rem;
}


h2{

  display: flex;
  gap:1rem;

    border: none;
    background-color:white;
    font-weight:bold;
    font-size:2rem;
    color:inherit;

    margin: auto;
  width: 50%;

  padding: 10px;
  }

  h3{

    display: flex;
    gap:1rem;
    align-items: center;
      border: none;
      background-color:white;
      font-weight:bold;
      font-size:1rem;
      color:inherit;
      
      margin: auto;
    width: 50%;
    padding-right:-35px;

    }
  
  h1{

    margin: center;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
    display: flex;
    border: none;
    background-color:rgb(237, 30, 30);
    font-weight:bold;
    font-size:2rem;
    color:white;
    height:5rem;
    width:50rem;
  }

  .decrease{
    display: flex;
  gap:1rem;
    border: none;
    background-color:rgb(237, 30, 30);
    font-weight:bold;
    font-size:2rem;
    color:inherit;
    height:4rem;
    width:8rem;

  }

  .increase:hover{
    background: #549d59;
    cursor: pointer;

  }


 h1:hover{
    background: #d80808;
    cursor: pointer;

  } */

  

