



*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}




h1{
  font-size: 6rem;
  background-color:rgb(9, 0, 0);
}



  /* .button-wrapper:hover{
    background: #549d59;
    cursor: pointer;
  } */

  .increase{


    border: none;
    background-color:rgb(237, 30, 30);
    font-weight:bold;
    font-size:2rem;
    color:inherit;
    height:2rem;
    width:4rem;
  }

  .decrease{

    border: none;
    background-color:rgb(237, 30, 30);
    font-weight:bold;
    font-size:2rem;
    color:inherit;
    height:2rem;
    width:8rem;

  }

  .increase:hover{
    background: #ecf805;
    cursor: pointer;

  }

  .decrease:hover{
    background: #ecf805;
    cursor: pointer;

  }

  h2{

    margin: center;
  width: 50%;


    display: flex;
    border: none;
    font-weight:bold;
    font-size:5rem;
    color:rgb(6, 0, 0);

  }


  h5{


    display: flex;
    border: none;
    font-weight:bold;
    font-size:3rem;
    color:rgb(0, 0, 0);

  }

  

